body {
    margin: auto;
    width: 1000px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

main {
    padding: 10px 20px;
}

footer {
    font-size: 13px;
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 25px;
    text-align: center;
    padding: 20px;

}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.note p {
    padding: 10px;
    border-left: solid 2px #bbb;
}

.note form {
    display: inline-block;;
}

/*
.btn {
    font-family: Arial;
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none;
    border:none;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 5px solid #555555;
}

.btn:hover {
  text-decoration: none;
  background-color: black;
  color: white;
  border: 2px solid black;
}
*/
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd !important;
}

.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}

.table-text{
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}